@using KANO.Core.Model
@using Newtonsoft.Json

@{
    Layout = "_AuthLayout";
    ViewData["Subtitle"] = "Request Forgotten Password";
}

<script>
    model.proto = {
        resetPasswordRequest :  @Html.Raw(Json.Serialize(new SendResetPasswordEmailParam()))
    };
</script>

<div class="row flex-grow" data-bind="with:model">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left p-4">
            <div class="brand-logo">
                <img src="~/assets/img/tps-large-trimmed.png">
            </div>
            <h4>Forgot password</h4>
            <h6 class="font-weight-light">Request to reset your password.</h6>
            <form class="pt-3" data-bind="with:data.resetPasswordRequest" onsubmit="model.action.requestForgotPassword(); return false;">
                <div class="form-group">
                    <input type="email" class="form-control form-control-lg" id="email" placeholder="Email" data-bind="value:Email, valueUpdate:'keyup', event:{keypress:model.action.onKeyPressRequestResetPassword}">
                </div>
            </form>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <a href="@Url.Action("Index","Auth", new { area="Site"})" class="auth-link text-black">Back to login ?</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-block btn-gradient-info btn-lg font-weight-medium auth-form-btn" href="#" data-bind="click:action.requestForgotPassword">Request to Reset Password</a>
                <!--<a class="btn btn-block btn-gradient-info btn-lg font-weight-medium auth-form-btn" href="#" data-bind="click:action.TestSend">Test Send</a>-->
            </div>
            <div class="mt-2">
                <small class="text-muted text-center d-block">Copyright © 2019 <a href="#" target="_blank">IT TPS</a>. All rights reserved.</small>
            </div>
        </div>
    </div>
</div>