    @using KANO.Core.Model
@using Newtonsoft.Json

@{
    Layout = "_AuthLayout";
}

<script>
    model.proto ={
        resetPassword : @Html.Raw(Json.Serialize(new SendResetPasswordEmailParam()))
    };
        
    model.proto.resetPassword.Token = "@Html.Raw(ViewBag.token)";
    model.proto.resetPassword.RePassword = "";
</script>

<div class="row flex-grow" data-bind="with:model">
    <div class="col-lg-4 mx-auto">
        <div class="auth-form-light text-left p-4">
            <div class="brand-logo">
                <img src="~/assets/img/tps-large-trimmed.png">
            </div>
            <h4>Forgot password</h4>
            <h6 class="font-weight-light">You can reset it here.</h6>
            <form class="pt-3" data-bind="with:data.resetPassword" onsubmit="model.action.doReset(); return false;">
                <input type="hidden" class="form-control" id="token" name="token" data-bind="value:Token">

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control form-control-lg" id="password" placeholder="Password" tabindex="1" data-bind="value:Password, valueUpdate:'keyup', event:{keypress:model.action.onKeyPressResetPassword}">
                        <button type="button" class="btn-show-password input-group-append" data-bind="click:model.action.showPassword" data-id="password">
                            <span class="input-group-text">
                                <i class="mdi mdi-eye-outline"></i>
                            </span>
                        </button>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="password" class="form-control form-control-lg" id="repassword" placeholder="Confirm your password" tabindex="2" data-bind="value:RePassword, valueUpdate:'keyup', event:{keypress:model.action.onKeyPressResetPassword}">
                        <button type="button" class="btn-show-password input-group-append" data-bind="click:model.action.showPassword" data-id="repassword">
                            <span class="input-group-text">
                                <i class="mdi mdi-eye-outline"></i>
                            </span>
                        </button>
                    </div>                    
                </div>
            </form>
            <div class="my-2 d-flex justify-content-between align-items-center">
                <a href="@Url.Action("Index","Auth", new { area="Site"})" class="auth-link text-black">Back to login ?</a>
            </div>
            <div class="mt-3">
                <a class="btn btn-block btn-gradient-info btn-lg font-weight-medium auth-form-btn" href="#" data-bind="click:action.doReset">Reset Password</a>
            </div>
            <div class="mt-2">
                <small class="text-muted text-center d-block">Copyright © 2019 <a href="#" target="_blank">IT TPS</a>. All rights reserved.</small>
            </div>
        </div>
    </div>
</div>
