.vs/
KANO.ESS/KANO.ESS/.vs/*
KANO.ESS/KANO.ESS/bin/*
KANO.ESS/KANO.ESS/obj/*
KANO.ESS/KANO.ESS/Debug/*
KANO.ESS/KANO.ESS/build/*
KANO.ESS/KANO.ESS/.vs/*
KANO.ESS/KANO.**/bin
KANO.ESS/KANO.**/obj
KANO.ESS/KANO.**/Debug
KANO.ESS/KANO.**/build
KANO.ESS/KANO.Api.Gateway/Properties/PublishProfiles
KANO.ESS/KANO.**/Properties/PublishProfiles
KANO.ESS/KANO.**/Properties/PublishProfiles/*
KANO.ESS/obj
KANO.ESS/bin
files/*
KANO.ESS/build
KANO.ESS/build
KADOO.ESS/kano_ess/__pycache__/__init__.cpython-37.pyc
KADOO.ESS/kano_ess/controllers/__pycache__/main.cpython-37.pyc
KADOO.ESS/kano_ess/models/__pycache__/__init__.cpython-37.pyc
KADOO.ESS/kano_ess/models/__pycache__/survey_label_inherit.cpython-37.pyc
KADOO.ESS/kano_ess/models/__pycache__/survey_question_inherit.cpython-37.pyc
KADOO.ESS/kano_ess/controllers/__pycache__/__init__.cpython-37.pyc
