@using KANO.Core.Model;
@using KANO.Core.Service;
@using KANO.ESS;
@{
    Layout = "_Layout";
}

<script>
    model.proto = {
        Canteen: @Html.Raw(Json.Serialize(new Canteen())),
        User: @Html.Raw(Json.Serialize(new User())),
        FieldAttachment: @Html.Raw(Json.Serialize(new FieldAttachment())),
        CanteenUserType: @Html.Raw(Tools.EnumToJson2(typeof(CanteenUser)))
    }
    model.proto.User.RoleID = "";
    model.proto.Canteen.HTMLFile = "";
</script>
<link href="~/assets/areas/ess/css/canteen.css?@(Startup.Tick??DateTime.Now.Ticks)" rel="stylesheet" />
<script src="~/assets/areas/ess/js/canteen.js?@(Startup.Tick??DateTime.Now.Ticks)"></script>

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-header">
                <strong class="float-left p-2">Canteen</strong>
                <div class="float-right">
                    <!-- ko if:model.is.buttonVisible() -->
                    <button class="btn btn-sm btn-info float-sm-right w-md-xs-100" onclick="model.action.addCanteen()" data-bind="disable:model.is.buttonLoading()">
                        <!-- ko if :model.is.buttonLoading() -->
                        <div class="spinner-border spinner-border-sm text-light" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot:model.is.buttonLoading() -->
                        Add
                        <!-- /ko -->
                    </button>
                    <!-- /ko -->
                </div>
            </div>
            <div class="card-body p-max-1200-4">
                <div class="table-responsive" id="gridCanteen"></div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("ModalCanteen.cshtml")

<script type="text/javascript">
    $(document).ready(function () {
        model.init.manageCanteen();
    })
</script>