<div id="updateRequestModal" class="modal" role="dialog" data-bind="with:model.app">
    <div class="modal-dialog" role="document" data-bind="">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="mdi mdi-truck-fast"></i>
                    Track Update Request
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="accordion" id="updateRequestAccordion">
                    @await Html.PartialAsync("UpdateRequest.cshtml")
                </div>
            </div>            
        </div>
    </div>
</div>
