<div class="row">
    <div class="col-lg-12 mb-4">
        <div class="card card-tab-content">
            <div class="card-body">
                <h4 class="card-title"><i class="mdi mdi-alert"></i> Warning Letter</h4>
                <form class="row">
                    <div class="col-lg-12">
                        <div id="gridWarningLetter"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
