<div id="OpenTicketDetail" class="modal" role="dialog" data-bind="with:model">
    <div class="modal-dialog" role="document" data-bind="">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="mdi mdi-bag-personal"></i>
                    Complaint Detail
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <section data-bind="with:data.Ticket">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="Date">Open Ticket Date</label><br>
                                    <div class="form-control-plaintext" data-bind="html: standarizeDateTime(new Date(CreatedDate()))"></div>
                                </div>
                                <div class="col">
                                    <label for="Date">Close Ticket Date</label><br>
                                    <div class="form-control-plaintext" data-bind="html: standarizeDateTime(new Date(ClosedDate()))"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <label for="input">Type</label>
                                    <div class="form-control-plaintext pb-2">
                                        <span data-bind="html:model.map.TicketType[TicketType()], css:'badge badge-'+model.map.ticketStatusCSS[TicketType()]"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="input">Media</label>
                                    <div class="form-control-plaintext" data-bind="html:model.map.TicketMedia[TicketMedia()]"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input">Category</label>
                            <div class="form-control-plaintext" data-bind="html:Category.Name()"></div>
                        </div>                        
                        <div class="form-group">
                            <label for="input">Requester</label>
                            <div class="form-control-plaintext" data-bind="html:EmployeeName() + `(${EmployeeID()})`"></div>
                        </div>
                        <div class="form-group">
                            <label for="input">Subject</label>
                            <div class="form-control-plaintext" data-bind="html:Subject()"></div>
                        </div>                        
                        <div class="form-group">
                            <label for="input">EmailCC</label>
                            <div class="form-control-plaintext" data-bind="html:EmailCC() || '-'"></div>
                        </div>                        
                        <div class="form-group">
                            <label for="input">Description</label>
                            <div class="form-control-plaintext" data-bind="html:Description()"></div>
                        </div>
                        <div class="form-group">
                            <label for="input">Ticket Status</label>
                            <span disabled data-bind="css: `w-100 badge badge-${model.map.TicketStatusLabelCss[TicketStatus()]}`" style="font-size: 16px;">
                                <span data-bind="html: model.map.TicketStatus[TicketStatus()]"></span>
                            </span>
                        </div>
                         <!-- ko if: TicketType() == 0 --> 
                        <div class="form-group">
                            <label for="input">Approval Status</label>                            
                            <span disabled data-bind="css: `w-100 badge badge-outline-${model.map.StatusLabelCSS[InvertedStatus()]}`" style="font-size: 16px;">
                                <span data-bind="html: camelToTitle(InvertedStatusDescription())"></span>
                            </span>                                                        
                        </div>     
                        <!-- /ko --> 
                        <!-- ko if: TicketStatus() ==2 && !!ClosedBy() && !!ClosedByEmployeeID() -->
                        <div class="form-group">
                            <label for="input">Closed By</label>                            
                            <div class="form-control-plaintext" data-bind="html:ClosedBy()+` (${ClosedByEmployeeID()})`"></div>                            
                        </div>    
                        <!-- /ko -->
                        <!-- ko if: !!Filename() -->
                        <div class="form-group">
                            <label for="input">Attachment</label>
                            <a href="" class="btn btn-sm btn-outline-info w-100" data-bind="attr:{title:Filename, href:`/ESS/Complaint/Download/${EmployeeID()}/${AXRequestID()}/${Filename()}`}">
                                <i class="mdi mdi-download"></i> Download Attachment
                            </a>
                        </div>
                        <!-- /ko -->                        
                    </section>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
