
@{
    Layout = "_Layout";
    ViewData["Title"] = "Request";
}
<div class="row">
    <div class="col-md-12">
        <div class="card box">
            <div class="card-header clearfix">
                <strong class="float-left">Request</strong>
                <div class="float-right">
                    @*<label>Periode</label>
                    <input data-bind="kendoDatePicker: model.StartDate" />
                    <input data-bind="kendoDatePicker: model.EndDate" />*@
                    <a href="#" class="btn btn-primary">Add</a>
                </div>
            </div>
            <div class="card-body">
                <div id="gridRequest"></div>
            </div>
        </div>
    </div>    
</div>

<script>
    model.TravelExpense = {
        DataRequest: ko.observableArray([]),
        GridRequest: function () {
            ajaxPost("@Url.Action("GetRequests", "TravelExpense")", {}, function (res) {
                model.TravelExpense.DataRequest(res);
                $('#gridRequest').kendoGrid({
                    dataSource: {
                        data: model.TravelExpense.DataRequest(),
                        pageSize: 10,
                    },
                   // pageable: false,
                    sortable: true,
                    pageable: {
                        refresh: false,
                        pageSizes: 10,
                        buttonCount: 5
                    },
                    columns: [
                        { field: "Id", title: "Nomor Request", width: "110px" },
                        { field: "EmployeeID", title: "NIK Pegawai", width: "110px" },
                        {
                            field: "Schedule", title: "Tanggal Mulai", width: "90px",
                            template: function (d) {
                                console.log(d);
                                return moment(d.Schedule.Start).format("DD/MM/YYYY");
                            }
                        },
                        {
                            field: "Schedule", title: "Tanggal Selesai", width: "90px",
                            template: function (d) {
                                console.log(d);
                                return moment(d.Schedule.Finish).format("DD/MM/YYYY");
                            }
                        },
                        { field: "Type", title: "Jenis Expense" },
                        { field: "Status", title: "Status", width: "110px" },
                        { field: "Amount", title: "Total", width: "110px" },
                        {
                            field: "Attachment", title: "Attachment", width: "110px",
                            template: function () {
                                return '<a href="#"><i class="fa fa-paperclip"></i></a>'
                            },
                            attributes: {
                                "class": "table-cell text-info",
                                style: "text-align: center; font-size: 18px; cursor: pointer;"
                            }
                        },
                        {
                            field: "Id", title: "Menu", width: "120px",
                            template: function () {
                                return '<a class="text-info"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="text-danger"><i class="fa fa-trash"></i></a>';
                            },   
                            attributes: {
                                "class": "table-cell",
                                style: "text-align: center; font-size: 18px; cursor: pointer;"
                            }
                        },
                    ]
                });
            });
            
        }
    }
    $(document).ready(function () {
        model.TravelExpense.GridRequest();
    });
</script>

