<div class="row">
	<div class="card card-tab-content">
		<div class="card-body">
			<h4 class="card-title">
				<i class="mdi mdi-file-document-box"></i> History
				@*<button type="button" class="btn btn-sm btn-info float-right" data-bind="click:action.openFormDocument, visible: !model.app.config.readonly">Add</button>*@
			</h4>
			<form class="row">
				<div class="col-lg-12">
					<div id="GridHistory"></div>
				</div>
			</form>
		</div>
	</div>
</div>
